{% extends 'base.html' %}
{% block title %} Cities List {% endblock %}

{% block content %}
    <h1 class="text-center">Cities List </h1>
    <div class="row">
        <div class="col-md-8 mx-auto my-2">
            <table class="table table-striped">
                {% for city in object_list %}
                <tr>
                    <td>
                        <a href="{% url 'cities:city_detail' pk=city.id %}">
                        <p>{{ city.name }}</p>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'cities:city_update' pk=city.id %}">
                            <button type="submit" class="btn btn-secondary">Edit</button>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'cities:city_delete' pk=city.id %}">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>   
           
        </div>
    </div>

    {% include 'pagination.html' %}

    {% url 'cities:city_create' as city_create_url %}
    {% include 'form.html' with action=city_create_url button='Submit' %}

{% endblock %}