{% extends 'base.html' %}
{% block title %} Route {% endblock %}

{% block content %}
    <h1> Route </h1>
    <div class="row">
        <div class="col-md-10 mx-auto my-2">
            <table class="table table-striped">
                <tr>
                    <th>
                        <p>Name</p>
                    </th>
                    <th>
                        <p>From</p>
                    </th>
                    <th>
                        <p>To</p>
                    </th>
                    <th>
                        <p>Travel Time</p>
                    </th>
                    <th>
                        <p>Trains list in route</p>
                    </th>
                    <th>
                        <p>&nbsp;</p>
                    </th>
                </tr>
                <tr>
                    <td>
                        <p>{{ route.name }}</p>
                        </a>
                    </td>
                    <td>
                        <p>{{ route.from_city }}</p>
                    </td>
                    <td>
                        <p>{{ route.to_city }}</p>
                    </td>
                    <td>
                        <p>{{ route.travel_times }}</p>
                    </td>
                    <td>
                        {% for train in object.trains.all %}
                        <p>{{ train }}, travel time {{ train.travel_time }}</p>
                        {% endfor %}
                    </td>
                    {% if user.is_authenticated %}
                    <td>
                        <a href="{% url 'routes:route_delete' pk=route.id %}">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </a>
                    </td>
                    {% endif%} &nbsp;
                </tr>
            </table>   

    <div class="row">
        <div class="col-md-4">
            <a href="{% url 'routes:routes_list' %}">
                <button type="button" class="btn btn-light">Back to the list</button>
            </a>
        </div>
    </div>
{% endblock %}