{% extends 'base.html' %}
{% block title %} Find Route {% endblock %}

{% block content %}
    <h1> Find Route </h1>
    <div class="row">
        <div class="col-md-8 mx-auto">
            {% if routes  %}
                <h3>Route {% if routes|length != 1%}s {% endif %} from {{ cities.from_city }} to {{ cities.to_city }}</h3>
                <br>
                {% for route in routes %}
                    {% if forloop.first %}
                    <h4>The shortest route</h4>
                    {% endif %}
                    <h5>Travel time is {{ route.total_time }}</h5>
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Trains in this route</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for train in route.trains %}
                          <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>Train {{ train.name }} from {{ train.from_city.name }} to {{ train.to_city.name }}</td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    {% url 'find_routes' as action %}
    {% include 'form.html' with button='Find' action=action %}

{% endblock %} 